body {
}

/* Content */

#contenttt {
	/*background: #FBFBEF ;*/
	width: 740px;
	margin: 10px;
	padding-left: 30px;
	color: #666666;
}

.lSide {
    width: 400px;
    text-align:left;
}
.rSide {
    max-width: 100px;
    text-align: center;
}
.firstalt {
    background: none;
    border: none;
    color: #0a5282;
    font-size: 18px;
    font-weight: bold;
    padding-left: 0;
    text-transform: capitalize;
    text-align: left;
    padding: 15px 0 10px 0;
}
.alt{
    background: #0a5282;
    color: #fff;
    padding: 5px 10px 5px 10px;
    
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
}
.addLink {
    border-bottom:1px solid #66A342;
    width: 400px;
}
.alt2 {
    border-bottom: 1px solid #66A342;
    text-align: center;
    width: 100px;
}
.treeV {
    max-width: 45%;
    margin-top:40px;
}
.searchForMeal {
    margin-bottom:40px;
}
#search_boxes {
   display:inline;
}
.calendar {
    margin-bottom:24px;
}

.listb {
    float:right;
    width:55%;
    margin-top: 0px;
}

.titled {
    font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #66A342;    
	font-size: 2em;
    float:left;
    width:100%;
    margin-bottom:10px;
}
#portionSection {
    width: 60%;
    float:right;
}
.potionLabel {
    margin-left: 0px;
    margin-bottom: 2px;
}
.txtPortions {
    width: 40px;
}
.lblSevings {
    margin-left: 15px;
    font-style:oblique;
}
.lblSelectedItem {
    margin-left: 25px;
    font-weight: 600;
}
.addButton {
    margin-top: 15px;
}

.LinkToPast {
    font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #66A342;
    font-size:1.3em;
    float:left;
    margin:25px 90px 0px 0px;
}
.LinkToPast2 {
    font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #66A342;
    font-size:1.25em;
    float:left;
    margin-right:25px;
    margin-bottom:10px;
}
.img {
    margin-top:0px;
    float: right;
}
.apple {
    float:right;
}

        /*add meals to db section */
.addMealLists {
    min-width:250px;
    margin-bottom:30px;
    margin-left:12px;
}
.addMealLists2 {
    min-width:200px;
}
#steps {
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
}
.label {
    font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #66A342;
    font-size:1.25em;
}
.step {
    width:25%;
    border: 1px solid #0a5282;
    border-radius:8px;
    background: #0a5282;
    color: #fff;
    padding: 5px 10px 5px 10px;   
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
.num2 {
    margin-left:200px;
}
.sendToDb {
    background: #0a5282;
    color: #fff;
    padding: 5px 10px 5px 10px;   
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
    margin-left:55px;
    min-width:150px;
    margin-bottom:20px;
}



    /*forgottenDetails section*/
#headerrr {
    text-decoration: lightblue;
    font-size: 18px;
    font-weight: lighter;
    margin: 15px 40px 15px 35px;
}
#forgotUserName {
    text-align:center;
    align-content:center;
    margin-bottom: 15px;
}
.emailtxt {
    min-width:200px;
    margin-left:40px;
}
#passLabels {
    float:right;
    width:37%;
}
#passTxts {
    float:right;
    width:63%;
}
#changePassword {
    width:80%;
    align-content:center;
    line-height:24px;
}
#pLabels {
    
}
#btnChangePassword {
    min-width:80px;
}
#subBtn {
    margin-left: 250px;
   margin-top:50px;
}
.submitBtn{
    background: #0a5282;
    color: #fff;
    padding: 5px 10px 5px 10px;
    margin-top:30px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
}
