body {
    }

.loginBtn {
	
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	
	
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	height:40px;
	line-height:40px;
	width:120px;
	text-decoration:none;
	text-align:center;
	text-shadow:-1px 4px 2px #689324;
}
.loginBtn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}
.loginBtn:active {
    
	position:relative;
	top:1px;
}
.loginHeader {
    text-decoration: lightblue;
    font-size: 18px;
    font-weight: lighter;
}

.bmiTextBox:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
  
    border: 1px solid rgba(81, 203, 238, 1);
  
} 
.newUserHead {
    text-decoration: lightblue;
    font-size: 16px;
    font-weight: lighter;
}
.heightInches {
    width: 50px;
    position: absolute;
    right: 180px;
    top: 13px;
}
.BMIValidator {
    color: red;
}
.btnJoin {
	box-shadow:inset 0px 1px 0px 0px #fceaca;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #eeaf41) );
	background:-moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
	background-color:#ffce79;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:-1px 4px 2px #ce8e28;
}
.btnJoin:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeaf41), color-stop(1, #ffce79) );
	background:-moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
	background-color:#eeaf41;
}
.btnJoin:active {
	position:relative;
	top:1px;
}
 .btnRegForgot {
     box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	
	margin-left: 10px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	height:40px;
	line-height:40px;
	width:250px;
	text-decoration:none;
	text-align:center;
	text-shadow:-1px 4px 2px #689324;
}
.btnRegForgot:hover  {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.btnRegForgot:active  {
	position:relative;
	top:1px;
}
 .signInLabel {
     margin:0 0 0 150px;position: relative;
 }
 .signInTextBox {
     margin:0 0 0 70px;position: absolute;
 }
 .registerVal {
     border: red;
 }
 #signIn {
     
 }
 .SignInTBandLab {
     margin-left: 10px;
     
 }
.highightTextbox:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
 
  border: 1px solid rgba(81, 203, 238, 1);
}





.loginHeaderDiv {
    width:100px;
    float:left

}


.divlogin {
    background-color: seashell;
    width: 400px;
}
#rightcolumn { width:45%;  margin:0 20px 0 60%; position:relative;
}
#leftcolumn { width:45%;  margin:10px 0 0 0; position:absolute;
              border-color: green;
     border-style: ridge;
     border-radius: 10px;
     
}
